#price{
    font-weight: 600;
    color: black;
    font-size: 1.2rem;
}
#saver{
    font-weight: 600;
}
#tax{
   font-size: small;
   font-family: 'Times New Roman';
   padding-bottom: 20px;
}
.origprice{
    font-size: 12px;
}
.noo-sh-title-top{
    font-size: 3rem;
}
.veges{
    z-index: 1;
}
.shop-cat-box .veges {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 0, 0, 0.19);
     font-family: "Raleway", sans-serif;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;

    animation: title 1.5s infinite;
    
   
    background: linear-gradient(
      0deg,
      rgb(30, 228, 93) 0%,
      rgba(255, 255, 255, 1) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  

