{%load static%}
<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
           
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About FreshCart</h4>
                        <p>
                        <p class="freshcart-about">FreshCart is your one-stop shop for fresh, high-quality groceries
                            delivered right to your doorstep.</p>
                        <p> We are committed to providing you with a convenient and hassle-free online shopping
                            experience.Our
                            wide range of products includes fresh vegetables, juicy fruits, and dairy essentials. We
                            source our
                            produce directly from local farmers, ensuring freshness and taste.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                           
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+9188******44">+9188******44</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:zaidkhuroo@gmail.com">zaidkhuroo@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2024 <a href="{%url 'home'%}">FreshCart</a> Design By :
        <a href="https://myportfolio-2-wlgl.onrender.com/">Zaid Khuroo</a>
    </p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a> <!-- Back to top button -->