{% extends 'base.html' %}
{%load static%}
{%block content%}

<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Fruits</h1>
                    <p>Fruits are essential components of a healthy diet, offering a wide array of vitamins, minerals, and fiber. From juicy berries like strawberries and blueberries to tropical delights like mangoes and pineapples, each type provides unique nutritional benefits. They are naturally sweet and packed with nutrients, making them a delicious way to support overall health and well-being. Incorporating a variety of fruits into your daily meals can help boost your immune system, improve digestion, and maintain a healthy weight.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="row special-list">

            {%for product in fruit_products%}
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        {%if product.sale%}
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        {%endif%}
                        {%if product.new%}
                        <div class="type-lb">
                            <p class="new">New</p>
                        </div>
                        {%endif%}
                        <img src="{% static product.img %}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="{%url 'product' product.name %}" data-toggle="tooltip" data-placement="right"
                                        title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i
                                            class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h3>{{product.name}}</h3>
                        <p id="price" class="text-decoration-underline">Price: ₹{{product.price}}
                            <small class="text-muted"> (₹{{product.origprice}} / kg)</small>
                        </p>
                    </div>
                </div>
            </div>

            {%endfor%}
            
        </div>
    </div>
</div>
{%endblock%}