{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="container form-layout p-5">
            <form method="POST">
                <h2>Create Account</h2>
                {%csrf_token%}
                {{form | crispy}}

                <!-- <div class="input-field">
                <input type="text" required>
                <label>Enter your Username</label>
            </div>
            <div class="input-field">
                <input type="password" required>
                <label>Enter New password</label>
            </div>
            <div class="input-field">
                <input type="password" required>
                <label>Confirm New password</label>
            </div> -->

                <button type="submit">Register</button>

            </form>
        </div>
    </div>
</body>

</html>